// Button Component ////////////////////////////////////////////////////////////////////////////////////
.btn {
  padding: 1.3rem 2.5rem;
  background-color: var(--primary);
  color: var(--text-secondary);
  border: none;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
  }
}
