.nav {
  background-color: var(--primary);
  color: var(--text-secondary);
  &-container {
    max-width: 114rem;
    margin: 0 auto;
  }

  &-row {
    &--1,
    &--2 {
      display: flex;
      // justify-content: space-between;
      padding: 1.6rem 0;
    }

    &--1 {
      .nav-log {
        display: flex;
        align-items: center;
        text-align: center;
        &-btn {
          padding: 0.7rem 0.7rem;
          width: 8rem;
          border-radius: 20px;
          border: 1px #fff solid;
          margin-right: 1rem;
          transition: all 0.2s;

          &:hover,
          &:active {
            background-color: var(--text-primary);
          }
        }

        .loggedin {
          font-size: 1.4rem;
          color: var(--text-secondary);
          margin-right: 1rem;
          &-link {
            text-decoration: underline;
            transition: all 0.2s;
            &:hover {
              color: var(--text-primary);
            }
          }
          &-logout {
            transition: all 0.2s;
            &:hover {
              cursor: pointer;
              color: var(--text-primary);
            }
          }
        }
      }
    }
  }

  &-logo {
    font-size: 2.4rem;
    margin-right: auto;
  }

  &-menu {
    &__list {
      display: flex;
    }
    &__item {
      list-style: none;
      padding: 1rem 2.5rem;
    }
    &__link {
      font-size: 1.6rem;
      transition: all 0.2s;
      &:hover,
      &:active {
        color: var(--text-primary);
      }
    }
  }

  &-socials {
    margin-right: 2.2rem;
    display: flex;
    align-items: center;

    &__item:not(:last-of-type) {
      margin-right: 1rem;
    }
    &__item {
      text-align: center;
      position: relative;
      height: 3rem;
      width: 3rem;
      border: 1px solid var(--text-secondary);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: var(--text-primary);
      }
    }

    &__link {
      position: absolute;
      margin-top: 2px;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
    }
  }

  &-contact__link {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.1rem;
    transition: all 0.2s;
    margin-right: auto;
    &:hover {
      color: var(--text-primary);
    }
  }
  &-contact__icon,
  &-contact__email {
    display: inline-block;
  }
  &-contact__icon {
    margin-right: 3px;
    margin-top: 5px;
  }
}

.hero {
  background-color: var(--secondary);

  .header {
    h1 {
      color: var(--text-primary);
    }
    &-container {
      max-width: var(--grid);
      margin: 0 auto;
      text-align: center;
      padding: 10rem 0;
    }

    &-main {
      font-size: 4.2rem;
      display: block;
      font-family: 'DM Serif Text', serif;
    }

    &-secondary {
      display: block;
      margin-top: 8rem;
      font-size: 2rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }

    .flex-cards {
      display: flex;
      padding: 8rem 0;
      padding-bottom: 5rem;

      &__item:not(:last-of-type) {
        margin-right: 3rem;
      }

      &__item {
        background-color: var(--secondary-light);
        flex: 1;
        height: 28rem;
        padding: 5rem;
      }

      h2 {
        font-size: 2.6rem;
        margin-bottom: 3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
      }

      p {
        font-size: 1.4rem;
      }
      span {
        display: block;
      }
    }
  }
}

.booking {
  padding: 6rem 0;
  background-color: var(--secondary-light);
  .container {
    max-width: var(--grid);
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    color: var(--text-primary);
    font-size: 3.2rem;
  }

  &-selections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding: 3rem 0;
  }

  &-card {
    background-color: var(--secondary);
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;

    &__container {
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__img {
      width: 100%;
      border-bottom-right-radius: 2rem;
    }

    &__header {
      font-size: 1.6rem;
    }
    &__btn {
      display: inline-block;
      padding: 1rem 3rem;
      border: 2px solid var(--primary);
      background-color: var(--secondary);
      // border-radius: 2px;
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--text-primary);
      transition: all 0.3s;
      &:hover {
        background-color: var(--primary);
        color: var(--text-secondary);
      }
    }
  }

  &-modal {
    &-content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 85vh;
      background-color: var(--secondary-light);
      padding: 3rem 6rem;
      padding-left: 0;
      border-radius: 5px;
      box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
      z-index: 25;
      overflow: hidden;

      display: flex;
    }
    .close-modal {
      position: absolute;
      top: 0;
      right: 2rem;
      font-size: 5rem;
      color: #333;
      cursor: pointer;
      border: none;
      background: none;
    }

    // .flex-column {
    //   flex: 1;
    // }
    .flex-column--1 {
      margin-top: -3rem;
      flex-basis: 50%;
      text-align: center;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      border-right: var(--secondary) solid 2px;
    }
    .flex-column--2 {
      flex-grow: 1;
      margin-left: 3rem;
    }

    &-heading {
      font-size: 2.4rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    &-img {
      width: 100%;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .form {
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.2rem;
      }

      &-label {
        font-size: 1.5rem;
        color: var(--text-primary);
        flex-basis: 30%;
      }

      // &-label__full-name{
      //   width: 30%;
      // }

      &-input {
        display: inline-block;
        padding: 1rem 2rem;
        width: 70%;
        // flex-basis: 70%;
        font-size: 1.5rem;
        font-family: inherit;
        color: var(--text-primary);
        border: 1px solid #d4d4d4;
        border-radius: 1rem;
        // border-bottom: 3px solid transparent;
        transition: all 0.3s;

        &::placeholder {
          color: #757575;
        }

        &__date {
          width: 55%;
        }
      }
      &-time {
        &__list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 1;
          list-style: none;
        }

        &__item {
          input[type='radio'] {
            visibility: hidden;
            opacity: 0;
          }

          input[type='radio']:checked + label {
            background-color: #fff;
            color: var(--primary);
            border: var(--primary) solid 1px;
          }
          input[type='radio']:disabled + label {
            position: relative;
            cursor: not-allowed;
            opacity: 0.4;
          }
          // input[type='radio']:disabled + label::after {
          //   content: '';
          //   position: absolute;
          //   top: 50%;
          //   left: 0;
          //   right: 0;
          //   height: 1px;
          //   background-color: white;
          // }
        }

        &__btn {
          padding: 1.2rem 2rem;
          color: #fff;
          border-radius: 2px;
          background-color: var(--primary);
          margin-left: -1.2rem;
          cursor: pointer;
          transition: all 0.1s;
          // &--selected {
          //   background-color: #fff;
          //   color: var(--primary);
          //   border: var(--primary) solid 1px;
          // }
        }
      }

      &__comment {
        resize: none;
        height: 8rem;
      }

      &__button {
        cursor: pointer;
        border-radius: 2px;
        flex: 1;
      }
    }
    input[type='date']::placeholder {
      color: var(--text-secondary);
    }
  }

  &-modal,
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &-overlay {
    background-color: rgba(49, 49, 49, 0.8);
    backdrop-filter: blur(3px);
  }
}

body.active-modal {
  overflow-y: hidden;
}

// Log-in page //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#login {
  background-color: var(--secondary);
  padding: 10rem 25rem;

  .login-container {
    background-color: var(--secondary-light);
    max-width: 40rem;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    padding: 2rem 3rem;

    header {
      text-align: center;
      padding: 2rem;

      .form-header {
        font-size: 2.6rem;
        color: var(--text-primary);
      }
    }
    .form-input-container {
      margin-bottom: 1rem;
      &:last-child {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
      }

      &__login {
        position: relative;

        .login-icon,
        .user-card-icon,
        .email-icon {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          fill: var(--text-primary);
        }

        .login-icon {
          &__visibility {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            fill: var(--text-primary);
          }
        }

        .user-card-icon {
          fill: none;
        }
      }

      text-align: center;
      input {
        display: block;
        padding: 1.5rem;
        padding-left: 3rem;
        width: 100%;
        margin: 0 auto;
        border-radius: 4px;
        border-style: none;
        border: 1px solid #d4d4d4;
        transition: all 0.2s;

        &:hover {
          border: 1px solid var(--text-primary);
        }
      }

      .form-input {
        &__btn {
          padding: 1.5rem;
          width: 100%;
          border: none;
          border-radius: 4px;
          background-color: var(--primary);
          color: #fff;
          cursor: pointer;
          font-size: 1.6rem;
        }

        &__forgot-password {
          font-size: 1.4rem;
          color: var(--text-primary);
        }

        &__or {
          position: relative;
          width: 100%;
          margin: 0 auto;
          margin-top: 2rem;
          font-size: 1.4rem;

          &::before,
          &::after {
            content: '';
            position: absolute;
            top: 50%;
            background-color: var(--primary);
            height: 1px;
            width: 40%;
            transform: translateY(-50%);
            border: none;
          }
          &::before {
            left: 1rem;
          }
          &::after {
            right: 1rem;
          }
        }
      }
    }
  }
}

// Profile page /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.profile {
  background-color: var(--secondary);
  padding: 10rem 25rem;

  &-container {
    background-color: var(--secondary-light);
    max-width: 40rem;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem 3rem;
  }

  &-details {
    &__text {
      font-size: 1.6rem;
    }

    &-form {
      &__row {
        display: flex;
        padding: 1rem 0rem;
        align-items: center;
      }

      &__label {
        flex-basis: 30%;
        font-size: 1.4rem;
        color: var(--text-primary);
      }

      &__input {
        flex: 1;
        padding: 1rem 2rem;
        border-radius: 4px;
        border-style: none;
        border: 1px solid #d4d4d4;
      }
    }

    &__edit {
      width: 100%;
      padding: 1.5rem 2.5rem;
      background-color: var(--primary);
      color: var(--secondary);
      border: none;
      border-radius: 2px;
      font-size: 1.6rem;
    }
  }
}
