.nav {
  background-color: var(--primary);
  color: var(--text-secondary);
  &-container {
    max-width: 114rem;
    margin: 0 auto;
  }

  &-row {
    &--1,
    &--2 {
      display: flex;
      justify-content: space-between;
      padding: 1.6rem 0;
    }
  }

  &-logo {
    font-size: 2.4rem;
  }

  &-menu {
    &__list {
      display: flex;
    }
    &__item {
      list-style: none;
      padding: 1rem 2.5rem;
    }
    &__link {
      font-size: 1.6rem;
      transition: all 0.2s;
      &:hover,
      &:active {
        color: var(--text-primary);
      }
    }
  }

  &-socials {
    margin-right: 2.2rem;
    display: flex;
    align-items: center;

    &__item:not(:last-of-type) {
      margin-right: 1rem;
    }
    &__item {
      text-align: center;
      position: relative;
      height: 3rem;
      width: 3rem;
      border: 1px solid var(--text-secondary);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: var(--text-primary);
      }
    }

    &__link {
      position: absolute;
      margin-top: 2px;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
    }
  }

  &-contact__link {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.1rem;
    transition: all 0.2s;
    &:hover {
      color: var(--text-primary);
    }
  }
  &-contact__icon,
  &-contact__email {
    display: inline-block;
  }
  &-contact__icon {
    margin-right: 3px;
    margin-top: 5px;
  }
}

.hero {
  background-color: var(--secondary);

  .header {
    h1 {
      color: var(--text-primary);
    }
    &-container {
      max-width: var(--grid);
      margin: 0 auto;
      text-align: center;
      padding: 10rem 0;
    }

    &-main {
      font-size: 4.2rem;
      display: block;
      font-family: 'DM Serif Text', serif;
    }

    &-secondary {
      display: block;
      margin-top: 8rem;
      font-size: 2rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }

    .flex-cards {
      display: flex;
      padding: 8rem 0;
      padding-bottom: 5rem;

      &__item:not(:last-of-type) {
        margin-right: 3rem;
      }

      &__item {
        background-color: var(--secondary-light);
        flex: 1;
        height: 28rem;
        padding: 5rem;
      }

      h2 {
        font-size: 2.6rem;
        margin-bottom: 3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
      }

      p {
        font-size: 1.4rem;
      }
      span {
        display: block;
      }
    }

    .btn {
      padding: 1.3rem 2.5rem;
      background-color: var(--primary);
      color: var(--text-secondary);
      border: none;
    }
  }
}

.booking {
  padding: 6rem 0;
  background-color: var(--secondary-light);
  .container {
    max-width: var(--grid);
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    color: var(--text-primary);
    font-size: 3.2rem;
  }
}
