.nav {
  background-color: var(--primary);
  color: var(--text-secondary);
  &-container {
    max-width: 114rem;
    margin: 0 auto;
  }

  &-row {
    &--1,
    &--2 {
      display: flex;
      justify-content: space-between;
      padding: 1.6rem 0;
    }
  }

  &-logo {
    font-size: 2.4rem;
  }

  &-menu {
    &__list {
      display: flex;
    }
    &__item {
      list-style: none;
      padding: 1rem 2.5rem;
    }
    &__link {
      font-size: 1.6rem;
      transition: all 0.2s;
      &:hover,
      &:active {
        color: var(--text-primary);
      }
    }
  }

  &-socials {
    margin-right: 2.2rem;
    display: flex;
    align-items: center;

    &__item:not(:last-of-type) {
      margin-right: 1rem;
    }
    &__item {
      text-align: center;
      position: relative;
      height: 3rem;
      width: 3rem;
      border: 1px solid var(--text-secondary);
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: var(--text-primary);
      }
    }

    &__link {
      position: absolute;
      margin-top: 2px;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
    }
  }

  &-contact__link {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.1rem;
    transition: all 0.2s;
    &:hover {
      color: var(--text-primary);
    }
  }
  &-contact__icon,
  &-contact__email {
    display: inline-block;
  }
  &-contact__icon {
    margin-right: 3px;
    margin-top: 5px;
  }
}

.hero {
  background-color: var(--secondary);

  .header {
    h1 {
      color: var(--text-primary);
    }
    &-container {
      max-width: var(--grid);
      margin: 0 auto;
      text-align: center;
      padding: 10rem 0;
    }

    &-main {
      font-size: 4.2rem;
      display: block;
      font-family: 'DM Serif Text', serif;
    }

    &-secondary {
      display: block;
      margin-top: 8rem;
      font-size: 2rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
    }

    .flex-cards {
      display: flex;
      padding: 8rem 0;
      padding-bottom: 5rem;

      &__item:not(:last-of-type) {
        margin-right: 3rem;
      }

      &__item {
        background-color: var(--secondary-light);
        flex: 1;
        height: 28rem;
        padding: 5rem;
      }

      h2 {
        font-size: 2.6rem;
        margin-bottom: 3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
      }

      p {
        font-size: 1.4rem;
      }
      span {
        display: block;
      }
    }
  }
}

.booking {
  padding: 6rem 0;
  background-color: var(--secondary-light);
  .container {
    max-width: var(--grid);
    margin: 0 auto;
  }
  h2 {
    text-align: center;
    color: var(--text-primary);
    font-size: 3.2rem;
  }

  &-selections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    padding: 3rem 0;
  }

  &-card {
    background-color: var(--secondary);
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    overflow: hidden;

    &__container {
      padding: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__img {
      width: 100%;
      border-bottom-right-radius: 2rem;
    }

    &__header {
      font-size: 1.6rem;
    }
    &__btn {
      display: inline-block;
      padding: 1rem 3rem;
      border: 2px solid var(--primary);
      background-color: var(--secondary);
      // border-radius: 2px;
      font-size: 1.4rem;
      font-weight: 600;
      color: var(--text-primary);
      transition: all 0.3s;
      &:hover {
        background-color: var(--primary);
        color: var(--text-secondary);
      }
    }
  }

  &-modal {
    &-content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 75vh;
      background-color: var(--secondary-light);
      padding: 3rem 6rem;
      border-radius: 5px;
      box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
      z-index: 25;
      overflow: hidden;

      display: flex;
    }
    .close-modal {
      position: absolute;
      top: 0;
      right: 2rem;
      font-size: 5rem;
      color: #333;
      cursor: pointer;
      border: none;
      background: none;
    }

    .flex-column {
      flex: 1;
    }
    .flex-column--1 {
      flex-basis: 50%;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      border-right: var(--secondary) solid 2px;
    }
    .flex-column--2 {
      flex-basis: 50%;
      margin-left: 3rem;
    }

    &-heading {
      font-size: 2.4rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    &-img {
      width: 90%;
      border-radius: 2px;
    }

    .form {
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.2rem;
      }

      &-label {
        font-size: 1.5rem;
        color: var(--text-primary);
        flex-basis: 30%;
      }

      &-input {
        display: inline-block;
        padding: 1rem 2rem;
        flex-basis: 70%;
        font-size: 1.5rem;
        font-family: inherit;
        color: var(--text-primary);
        border: 1px solid #d4d4d4;
        border-radius: 1rem;
        // border-bottom: 3px solid transparent;
        transition: all 0.3s;

        &::placeholder {
          color: #757575;
        }
      }
      &-time {
        &__list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex: 1;
          list-style: none;
        }

        &__item {
          input[type='radio'] {
            visibility: hidden;
            opacity: 0;
          }
        }

        &__btn {
          padding: 1.2rem 2rem;
          color: #fff;
          border-radius: 2px;
          background-color: var(--primary);
          margin-left: -1.2rem;
          cursor: pointer;
        }
      }

      &__comment {
        resize: none;
        width: 70%;
        height: 8rem;
      }

      &__button {
        cursor: pointer;
        border-radius: 2px;
        flex: 1;
      }
    }
    input[type='date']::placeholder {
      color: var(--text-secondary);
    }
  }

  &-modal,
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &-overlay {
    background-color: rgba(49, 49, 49, 0.8);
    backdrop-filter: blur(3px);
  }
}

body.active-modal {
  overflow-y: hidden;
}
